<a href="https://colab.research.google.com/github/HagarIbrahiem/Learning_purposes/blob/main/Data_Vis_Eng_Eman_Day2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import chardet 
import pandas as pd 
import numpy as np

**Session 4 - Day 2**

In [2]:
labels= ['a','b','c']
myData = [10,20,30]
array = np.array(myData)
array

array([10, 20, 30])

In [3]:
d={'a':10,'b':20,'c':30}

In [4]:
type(myData)
myData

[10, 20, 30]

In [5]:
type(array)

numpy.ndarray

In [6]:
pd.Series(myData)  #list , #dict , #np.array

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(myData) [0]

10

In [9]:
z =pd.Series(myData , labels)
z

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(d)[0]

10

In [11]:
pd.Series(d)['b']

20

In [12]:
pd.Series(d) #use keys of dict as  index

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(d)[0:2]

a    10
b    20
dtype: int64

In [14]:
pd.Series(d)['a':'c']  #return 3 values

a    10
b    20
c    30
dtype: int64

In [15]:
x = pd.Series(d) + pd.Series([1,2,3], ['a','b','d'])
x

a    11.0
b    22.0
c     NaN
d     NaN
dtype: float64

In [16]:
x[0:4:3]

a    11.0
d     NaN
dtype: float64

In [17]:
pd.DataFrame(np.arange(20).reshape(4,5)) #4*5=20

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [18]:
pd.DataFrame(np.arange(12).reshape(3,4), ['a','b','c'], ['c1','c2','c3','c4'])  #3*4=12,

   c1  c2  c3  c4
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11

In [19]:
y =pd.DataFrame(np.arange(12).reshape(3,4), columns= ['c1','c2','c3','c4'])  #3*4=12,
y

   c1  c2  c3  c4
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11

In [20]:
y['c1']

0    0
1    4
2    8
Name: c1, dtype: int64

In [21]:
y['c1' , 'c2']

KeyError: ignored

In [22]:
y[['c1' , 'c2']] ## as i'm return dataframe , not dataseries , use [[  ]] if mutiple rows or multiple columns

   c1  c2
0   0   1
1   4   5
2   8   9

In [23]:
y['newCol'] = y['c1'] * y['c2']
y.head()

   c1  c2  c3  c4  newCol
0   0   1   2   3       0
1   4   5   6   7      20
2   8   9  10  11      72

In [24]:
y[0] ##need to get 1st row

KeyError: ignored

In [ ]:
# df.loc[rows, column]
# df.loc[rows]  #dont have to write columns
# df.loc[:, column] # have to write rows even if i dont want it 
df = pd.DataFrame(np.arange(12).reshape(3,4), ['a','b','c'], ['c1','c2','c3','c4'])
print (df.loc['b'] ) #getrowsbylabels , ps indeces hena are letters not numbers
print (df.iloc[1]) #getrowsbyintgerlocaltions

In [ ]:
print (df.iloc[[0,2]])  # get multiple rows , 1st and 3rd row , use [[]] if mutiple rows or multiple columns

In [37]:
print (df.iloc[0:3])  #get from row0 to row3

   c1  c2  c3  c4
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11

In [38]:
print (df.iloc[0] )  #get first row == df.iloc[0,]   , all columns
print (df.iloc[0,]) 
print (df.iloc[0,:] )

c1    0
c2    1
c3    2
c4    3
Name: a, dtype: int64
c1    0
c2    1
c3    2
c4    3
Name: a, dtype: int64
c1    0
c2    1
c3    2
c4    3
Name: a, dtype: int64

In [42]:
print (df.iloc[0,0:2] )  #get first row and col 0, 1

c1    0
c2    1
Name: a, dtype: int64

In [ ]:
print (df.iloc[:,0:2] )  #get all row and col 0 and 1

In [44]:
print(df.loc[ :,'c1' ])

print(df.iloc[ :,0 ])

print(df.iloc[ :,'c1' ])

a    0
b    4
c    8
Name: c1, dtype: int64
a    0
b    4
c    8
Name: c1, dtype: int64

In [45]:
print(df.loc[ :,['c1','c3'] ]) #get column C1 + C3

   c1  c3
a   0   2
b   4   6
c   8  10

In [46]:
print(df.loc['b':'c','c2':'c4'])  #from col c2 to c4

print(df.iloc[1:3,1:4])  #from col c2 to c4

   c2  c3  c4
b   5   6   7
c   9  10  11
   c2  c3  c4
b   5   6   7
c   9  10  11

In [47]:
print(df.iloc[:3,1:])  #from col c2 to c4

   c2  c3  c4
a   1   2   3
b   5   6   7
c   9  10  11

In [48]:
print(df.iloc[:,0:3:2])  #skip column

   c1  c3
a   0   2
b   4   6
c   8  10

In [70]:
df = pd.DataFrame([[2,3] , [5,6],[8,9]], index=['cobra','viper','sidewinder'], columns=['max_speed','shield'])
df

            max_speed  shield
cobra               2       3
viper               5       6
sidewinder          8       9

**Filter dataframe based on conditions**

In [51]:
print(df['shield'] >3)
print ( df [df['shield'] >3] )

cobra         False
viper          True
sidewinder     True
Name: shield, dtype: bool
            max_speed  shield
viper               5       6
sidewinder          8       9

In [52]:
print (df.loc[ df['shield'] > 5] )
print (df[ df['shield'] > 5 ])

            max_speed  shield
viper               5       6
sidewinder          8       9
            max_speed  shield
viper               5       6
sidewinder          8       9

In [61]:
print(df.loc[ df ['shield'] >6 ,['max_speed'] ])
print(df [ df['shield'] >6 ] ['max_speed'])

            max_speed
sidewinder          8
sidewinder    8
Name: max_speed, dtype: int64

In [64]:
print (df [ lambda df : df['shield'] == 9 ])   # df [ lambda input: fun]

            max_speed  shield
sidewinder          8       9

In [65]:
print(df)
values= [2,4,8]
df [ df['max_speed'].isin (values) ]

            max_speed  shield
cobra               2       3
viper               5       6
sidewinder          8       9

            max_speed  shield
cobra               2       3
sidewinder          8       9

In [66]:
df [(    df['max_speed'].isin (values)   )   &   (  df['shield'] ==9  )     ]

            max_speed  shield
sidewinder          8       9

In [ ]:
df.query("max_speed > 2 & shield ==6 ")

In [68]:
df.where (cond=df >5 , other='A+')

           max_speed shield
cobra             A+     A+
viper             A+      6
sidewinder         8      9

In [129]:
df.mask (cond=df >5 , other='A+')

           max_speed shield
cobra              2      3
viper              5     A+
sidewinder        A+     A+

In [131]:
df.apply(np.sqrt)

            max_speed    shield
cobra        1.414214  1.732051
viper        2.236068  2.449490
sidewinder   2.828427  3.000000

In [71]:
df = pd.DataFrame([['GOOD','very good'] , ['FAIL','excellent'],['PASS','good']], index=['ahmed','ali','youssef'], columns=['math','science'])
df

         math    science
ahmed    GOOD  very good
ali      FAIL  excellent
youssef  PASS       good

In [ ]:
print(df['math'].str.lower())

In [84]:

print(df[     df['math'].str.contains('f')      ]) ### errrrror 

print(  df[      df['math'].str.lower().str.contains('f')  ] )

Empty DataFrame
Columns: [math, science]
Index: []
     math    science
ali  FAIL  excellent

In [ ]:
print(df[   df['math'].str.lower().str.startswith('p')])

**start working with IRIS dataset**

In [86]:
df= pd.read_csv('iris.csv')
df.head()

   Id  sepallength  sepalwidth  petallength  petalwidth        class
0   1          5.1         3.5          1.4         0.2  Iris-setosa
1   2          4.9         3.0          1.4         0.2  Iris-setosa
2   3          4.7         3.2          1.3         0.2  Iris-setosa
3   4          4.6         3.1          1.5         0.2  Iris-setosa
4   5          5.0         3.6          1.4         0.2  Iris-setosa

In [87]:
df.drop('id') #default axis is 0 means rows , cant find 'id' in rows

KeyError: ignored

In [195]:
print(df.drop('Id', axis=1).head(1))

df.drop(columns=['Id','sepalwidth','sepallength'], axis=1).head(1)

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa

   petallength  petalwidth        class
0          1.4         0.2  Iris-setosa

In [196]:
df.drop(3) #remove row 3
df   #row 3 still in dataset

      Id  sepallength  sepalwidth  petallength  petalwidth           class
0      1          5.1         3.5          1.4         0.2     Iris-setosa
1      2          4.9         3.0          1.4         0.2     Iris-setosa
2      3          4.7         3.2          1.3         0.2     Iris-setosa
3      4          4.6         3.1          1.5         0.2     Iris-setosa
4      5          5.0         3.6          1.4         0.2     Iris-setosa
..   ...          ...         ...          ...         ...             ...
148  149          6.2         3.4          NaN         2.3  Iris-virginica
149  150          5.9         3.0          5.1         1.8  Iris-virginica
150    1          5.1         3.5          1.4         0.2     Iris-setosa
151    2          4.9         3.0          1.4         0.2     Iris-setosa
152    3          4.7         3.2          1.3         0.2     Iris-setosa

[153 rows x 6 columns]

In [197]:
df = df.drop(8) #remove row 3
print(df.head(10))



df.drop(9 , inplace=True) #remove row 3
print(df.head(10))

    Id  sepallength  sepalwidth  petallength  petalwidth        class
0    1          5.1         3.5          1.4         0.2  Iris-setosa
1    2          4.9         3.0          1.4         0.2  Iris-setosa
2    3          4.7         3.2          1.3         0.2  Iris-setosa
3    4          4.6         3.1          1.5         0.2  Iris-setosa
4    5          5.0         3.6          1.4         0.2  Iris-setosa
5    6          5.4         3.9          1.7         0.4  Iris-setosa
6    7          4.6         3.4          1.4         0.3  Iris-setosa
7    8          5.0         3.4          1.5         0.2  Iris-setosa
9   10          4.9         3.1          1.5         0.1  Iris-setosa
10  11          5.4         3.7          1.5         0.2  Iris-setosa
    Id  sepallength  sepalwidth  petallength  petalwidth        class
0    1          5.1         3.5          1.4         0.2  Iris-setosa
1    2          4.9         3.0          1.4         0.2  Iris-setosa
2    3          4.7         3.2          1.3         0.2  Iris-setosa
3    4          4.6         3.1          1.5         0.2  Iris-setosa
4    5          5.0         3.6          1.4         0.2  Iris-setosa
5    6          5.4         3.9          1.7         0.4  Iris-setosa
6    7          4.6         3.4          1.4         0.3  Iris-setosa
7    8          5.0         3.4          1.5         0.2  Iris-setosa
10  11          5.4         3.7          1.5         0.2  Iris-setosa
11  12          4.8         3.4          1.6         0.2  Iris-setosa

In [231]:
print(df.isnull().sum())
print('**'*20)
print(df.isnull().sum().sum())  #total nullable values
print('**'*20)
print(df.isnull().sum().sum()/ df.shape[0]* df.shape[1])   #percentage of nullable values ,,,,, df.shape[0]* df.shape[1] means total num of cells in dataframe

Id             0
sepallength    1
sepalwidth     0
petallength    2
petalwidth     0
class          0
dtype: int64
****************************************
3
****************************************
0.11764705882352941

In [202]:
df= pd.read_csv('iris.csv')

print(df.shape)
df = df.dropna()    #drop rows with nan values
print(df.shape)

(153, 6)
(150, 6)

In [203]:
df= pd.read_csv('iris.csv')
print(df.shape)
df = df.dropna(axis=1)   #drop columns with nan values
print(df.shape)

(153, 6)
(153, 4)

In [207]:
df= pd.read_csv('iris.csv')
print(df.shape)
df = df.dropna( how='all')   #drop rows with all its values are nan
print(df.shape)

(153, 6)
(153, 6)

In [206]:
df= pd.read_csv('iris.csv')
print(df.shape)
df = df.dropna( how='any')   #drop rows with any nan values 
print(df.shape)

(153, 6)
(150, 6)

In [217]:
df= pd.read_csv('iris.csv')
print(df.shape)
df = df.dropna( thresh=3)   #drop rows with more than 2 nan values
print(df.shape)

(153, 6)
(153, 6)

In [219]:
df= pd.read_csv('iris.csv')
print(df.shape)
df = df.dropna( subset=['sepallength'])   #drop rows with more tnan values only in 'sepallength' column  .. make sure 'sepallength' column only dosnt not contant  nan values
print(df.shape)

(153, 6)
(152, 6)

In [220]:
df= pd.read_csv('iris.csv')
print(df.shape)
df = df.dropna(axis=1, subset=['sepallength']) 
print(df.shape)

(153, 6)

KeyError: ignored

**Fill nullable value with 0**

In [9]:
df= pd.read_csv('iris.csv')
print(df.isnull().sum().sum())
df= df.fillna(0)
print(df.isnull().sum().sum())

3
0

In [11]:
df= pd.read_csv('iris.csv')
print(df.isnull().sum().sum())
df= df.fillna(df.mean())  ### fill nullable value with the mean of (( its column))
print(df.isnull().sum().sum())

3
0

<ipython-input-11-96b8c63004aa>:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df= df.fillna(df.mean())  ### fill nullable value with the mean of (( its column))

In [13]:
df['sepallength'] = df['sepallength'].fillna(df['sepallength'].median())

In [14]:
df = df.fillna(method='bfill') # fill nullable value with the backword value ( value after it)
df = df.fillna(method='ffill') # fill nullable value with the forward value ( value before it)

In [28]:
df= pd.read_csv('iris.csv')
print(df.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
148    False
149    False
150     True
151     True
152     True
Length: 153, dtype: bool
3

In [29]:
print(df.duplicated().sum())
df[df.duplicated()]    ## row condiser dublicate if it's matching with another row bellmelly , bs it only show redundent

3

     Id  sepallength  sepalwidth  petallength  petalwidth        class
150   1          5.1         3.5          1.4         0.2  Iris-setosa
151   2          4.9         3.0          1.4         0.2  Iris-setosa
152   3          4.7         3.2          1.3         0.2  Iris-setosa

In [33]:
df= pd.read_csv('iris.csv')
df.drop_duplicates(inplace=True)
df.shape

(150, 6)

In [45]:
df= pd.read_csv('iris.csv')
df = df.drop_duplicates(subset=['petallength','petalwidth'])  ##check for duplicate values only in this 2 columns , for example if name is unique,subset=['fname','lname]
df.shape

(103, 6)

In [46]:
print(df.columns)
df.set_index('class' , inplace=True)
df.head()

Index(['Id', 'sepallength', 'sepalwidth', 'petallength', 'petalwidth',
       'class'],
      dtype='object')

             Id  sepallength  sepalwidth  petallength  petalwidth
class
Iris-setosa   1          5.1         3.5          1.4         0.2
Iris-setosa   3          4.7         3.2          1.3         0.2
Iris-setosa   4          4.6         3.1          1.5         0.2
Iris-setosa   6          5.4         3.9          1.7         0.4
Iris-setosa   7          4.6         3.4          1.4         0.3

In [47]:
df.reset_index(inplace=True)  ###when dropping multipl rows , el index is misordereds , so i reset index to reset el order after ordering
df.head()

         class  Id  sepallength  sepalwidth  petallength  petalwidth
0  Iris-setosa   1          5.1         3.5          1.4         0.2
1  Iris-setosa   3          4.7         3.2          1.3         0.2
2  Iris-setosa   4          4.6         3.1          1.5         0.2
3  Iris-setosa   6          5.4         3.9          1.7         0.4
4  Iris-setosa   7          4.6         3.4          1.4         0.3

**Groupby**

In [51]:
df.groupby('class')['Id'].count()   #df.groupby('col_to_group_by')['col_to_agg'].sum() ###aggregate on one column

class
Iris-setosa         407
Iris-versicolor    2631
Iris-virginica     5597
Name: Id, dtype: int64

In [55]:
df.groupby('class').mean()    ###aggregate on all columns

                   Id  sepallength  sepalwidth  petallength  petalwidth
class
Iris-setosa       407        110.9        77.4         32.8         6.2
Iris-versicolor  2631        214.7       100.2        153.6        47.5
Iris-virginica   5597        291.9       134.1        241.5        91.6

In [56]:
df.groupby('class')['sepallength','sepalwidth'].max()    ###aggregate on 2 columns

<ipython-input-56-17c34f8f601f>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('class')['sepallength','sepalwidth'].max()    ###aggregate on 2 columns

                 sepallength  sepalwidth
class
Iris-setosa              5.8         4.4
Iris-versicolor          7.0         3.4
Iris-virginica           7.9         3.8

# **Sort**

In [61]:
print(df.head(3))
df.sort_values(by='petallength', ascending=True, inplace=True)
print(df.head(3))

              class   Id  sepallength  sepalwidth  petallength  petalwidth
32  Iris-versicolor   61          5.0         2.0          3.5         1.0
34  Iris-versicolor   63          6.0         2.2          4.0         1.0
77   Iris-virginica  120          6.0         2.2          5.0         1.5
          class  Id  sepallength  sepalwidth  petallength  petalwidth
15  Iris-setosa  23          4.6         3.6          1.0         0.2
8   Iris-setosa  14          4.3         3.0          1.1         0.1
9   Iris-setosa  15          5.8         4.0          1.2         0.2

In [63]:
df.corr() ### 2 dublicate trainagle , dont look at the upper one , look at the lower one beneath the diagonal

                   Id  sepallength  sepalwidth  petallength  petalwidth
Id           1.000000     0.683683   -0.345146     0.879464    0.895258
sepallength  0.683683     1.000000   -0.016083     0.853565    0.773292
sepalwidth  -0.345146    -0.016083    1.000000    -0.368143   -0.262283
petallength  0.879464     0.853565   -0.368143     1.000000    0.943318
petalwidth   0.895258     0.773292   -0.262283     0.943318    1.000000

# **Data Integartion**
- append

In [73]:
df=pd.read_csv('iris.csv')
df1=df.head(3)
df2=df.tail(3)

In [74]:
df1 = df1.append(df2) 
print(df1.head(6))

df1.reset_index(inplace=True)
print(df1.head(6))

     Id  sepallength  sepalwidth  petallength  petalwidth        class
0     1          5.1         3.5          1.4         0.2  Iris-setosa
1     2          4.9         3.0          1.4         0.2  Iris-setosa
2     3          4.7         3.2          1.3         0.2  Iris-setosa
150   1          5.1         3.5          1.4         0.2  Iris-setosa
151   2          4.9         3.0          1.4         0.2  Iris-setosa
152   3          4.7         3.2          1.3         0.2  Iris-setosa
   index  Id  sepallength  sepalwidth  petallength  petalwidth        class
0      0   1          5.1         3.5          1.4         0.2  Iris-setosa
1      1   2          4.9         3.0          1.4         0.2  Iris-setosa
2      2   3          4.7         3.2          1.3         0.2  Iris-setosa
3    150   1          5.1         3.5          1.4         0.2  Iris-setosa
4    151   2          4.9         3.0          1.4         0.2  Iris-setosa
5    152   3          4.7         3.2          1.3         0.2  Iris-setosa

In [ ]:
print(df1.head(6))

**- Concatenate**

In [81]:
df=pd.read_csv('iris.csv')
df1=df.head(3)
df2=df.tail(3)
pd.concat([df1,df2])  ##axis = 0 default

     Id  sepallength  sepalwidth  petallength  petalwidth        class
0     1          5.1         3.5          1.4         0.2  Iris-setosa
1     2          4.9         3.0          1.4         0.2  Iris-setosa
2     3          4.7         3.2          1.3         0.2  Iris-setosa
150   1          5.1         3.5          1.4         0.2  Iris-setosa
151   2          4.9         3.0          1.4         0.2  Iris-setosa
152   3          4.7         3.2          1.3         0.2  Iris-setosa

In [82]:
df=pd.read_csv('iris.csv')
df1=df.head(3)
df2=df.tail(3)
pd.concat([df1,df2] , axis=1)  ##axis = 1

,Id,sepallength,sepalwidth,petallength,petalwidth,class,Id,sepallength,sepalwidth,petallength,petalwidth,class
0,1.0,5.1,3.5,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,4.9,3.0,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,4.7,3.2,1.3,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,NaN
150,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.1,3.5,1.4,0.2,Iris-setosa
151,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.9,3.0,1.4,0.2,Iris-setosa
152,NaN,NaN,NaN,NaN,NaN,NaN,3.0,4.7,3.2,1.3,0.2,Iris-setosa

**Merge** (can choose column to merge based up on)

In [90]:
df=pd.read_csv('iris.csv')
df1=df[['Id','sepallength']].head(2)
df2=df[['Id','sepalwidth']].tail(2)
print(df1)
print(df2)

   Id  sepallength
0   1          5.1
1   2          4.9
     Id  sepalwidth
151   2         3.0
152   3         3.2

In [92]:
df1.merge(df2 , on='Id', how='inner')

   Id  sepallength  sepalwidth
0   2          4.9         3.0

In [99]:

df1.merge(df2 , on='Id', how='right') ### NAN

   Id  sepallength  sepalwidth
0   2          4.9         3.0
1   3          NaN         3.2

- **Join** (based on index)

In [134]:
df=pd.read_csv('iris.csv')
df1=df[['Id','sepallength']].head(2)
df2=df[['Id','sepalwidth']].tail(2)
print(df1)
print(df2)

   Id  sepallength
0   1          5.1
1   2          4.9
     Id  sepalwidth
151   2         3.0
152   3         3.2

In [105]:
df1.join(df2, how= 'left')

ValueError: ignored

In [109]:
df1.set_index(inplace=True , keys='Id')
df2.set_index(inplace=True ,  keys='Id')

In [112]:
my_dataframe= df1.join(df2 , how='left')
my_dataframe

    sepallength  sepalwidth
Id
1           5.1         NaN
2           4.9         3.0

In [121]:
my_dataframe.replace( to_replace=[5.1 ,4.9] , value = ['Five','Four'] , inplace=True)
my_dataframe

In [123]:
my_dataframe.replace( { 'sepallength': { 'Five':55, 'Four':44}}, inplace=True)
my_dataframe

    sepallength  sepalwidth
Id
1            55         NaN
2            44         3.0

**some functions for dataframe**

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           153 non-null    int64
 1   sepallength  152 non-null    float64
 2   sepalwidth   153 non-null    float64
 3   petallength  151 non-null    float64
 4   petalwidth   153 non-null    float64
 5   class        153 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.3+ KB

In [125]:
df.dtypes

Id               int64
sepallength    float64
sepalwidth     float64
petallength    float64
petalwidth     float64
class           object
dtype: object

In [126]:
df['Id'].astype('float64')   #casting form in tto float ### astype is not usied with datetime

0        1.0
1        2.0
2        3.0
3        4.0
4        5.0
       ...
148    149.0
149    150.0
150      1.0
151      2.0
152      3.0
Name: Id, Length: 153, dtype: float64

In [135]:
df['sepallength'].apply(np.sqrt)

0      2.258318
1      2.213594
2      2.167948
3      2.144761
4      2.236068
         ...
148    2.489980
149    2.428992
150    2.258318
151    2.213594
152    2.167948
Name: sepallength, Length: 153, dtype: float64

In [136]:
df['sepallength'].apply(lambda x : x+1000)

0      1005.1
1      1004.9
2      1004.7
3      1004.6
4      1005.0
        ...
148    1006.2
149    1005.9
150    1005.1
151    1004.9
152    1004.7
Name: sepallength, Length: 153, dtype: float64

In [139]:
df[['sepallength','sepalwidth']].apply(np.sum , axis=1)

0      8.6
1      7.9
2      7.9
3      7.7
4      8.6
      ...
148    9.6
149    8.9
150    8.6
151    7.9
152    7.9
Length: 153, dtype: float64

In [142]:
print(df['class'].unique())
print(df['class'].nunique())

['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']
3

In [143]:
df['class'].value_counts()

Iris-setosa        53
Iris-versicolor    50
Iris-virginica     50
Name: class, dtype: int64

In [144]:
df.select_dtypes(include='number') ### use to seprate columns based on datatypes

      Id  sepallength  sepalwidth  petallength  petalwidth
0      1          5.1         3.5          1.4         0.2
1      2          4.9         3.0          1.4         0.2
2      3          4.7         3.2          1.3         0.2
3      4          4.6         3.1          1.5         0.2
4      5          5.0         3.6          1.4         0.2
..   ...          ...         ...          ...         ...
148  149          6.2         3.4          NaN         2.3
149  150          5.9         3.0          5.1         1.8
150    1          5.1         3.5          1.4         0.2
151    2          4.9         3.0          1.4         0.2
152    3          4.7         3.2          1.3         0.2

[153 rows x 5 columns]

In [147]:
df.select_dtypes(include='number').columns

Index(['Id', 'sepallength', 'sepalwidth', 'petallength', 'petalwidth'], dtype='object')

In [145]:
df.select_dtypes(include='object')

              class
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
148  Iris-virginica
149  Iris-virginica
150     Iris-setosa
151     Iris-setosa
152     Iris-setosa

[153 rows x 1 columns]

In [ ]:
df.interpolate() ###used with time series data

In [ ]:
# couldn't read file because it'n not enocded ,  need to try many encodings top open it , so I need to use CharDetection Library
# df = pd.read_csv('ks-projects-201612.csv')

myfile=  open ('ks-projects-201612.csv','rb')    
result = chardet.detect (myfile.read(10000))
result

In [ ]:
df = pd.read_csv('ks-projects-201612.csv' ,encoding = 'windows-1252' )
df.head()